.navbar-nav a.nav-link {
  color: inherit;
}

.navbar-nav a.nav-link.active {
  color: tomato;
}

.navbar-nav a.nav-link:hover {
  color: tomato;
}

#home {
  background-image: url("/imgs/circle-scatter-haikei.svg");
  background-position: center;
  background-size: cover;
}

.carousel-item img {
  transform: translate(0, 50%);
  -webkit-transform: translate(0, 50%);
  -moz-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  -o-transform: translate(0, 50%);
}

.carousel-indicators [data-bs-target] {
  height: 30px;
  text-indent: 0;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
